# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Other dirs to exclude
*.lock
*.bin
cache.properties
.idea/
.classpath
.settings/
bin/
bin/*.*
.project
.rib.d
.rib.d/